<script>
	document.title = "My work - Aniket Udare";
</script>
<script src="extResources/moment.js"></script>
<div class="box ">
	<h2 class="header indigo-text lighten-1 section-title">
		<span>What goes behind the scenes</span>
	</h2>
	<p class="flow-text">Welcome to a my digital space, where I post my
		work that is publicly available on open source platforms with their demos.</p>
</div>
<div ng-controller="workController" class="section featured-media">
	<div class="row">
	<div  class=" col s12 m4">
	<div style=" text-align: left;" ng-class="color" class="small card sticky-action">
				<div style=" text-align: left;" ng-class="randColor()" class="card-content center">
					<span class="card-title activator grey-text text-darken-4">School of Liberal Arts<i
						class="material-icons right">more_vert</i></span>
					<p>
						
					</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">IU School of Liberal Arts at IUPUI<i
						class="material-icons right">close</i></span>
					<ul class="collection">
						<li style="text-align:left" class="collection-item avatar"><img ng-click="go(item)"  targer="_blank" src="https://avatars0.githubusercontent.com/u/15062867?v=4"
							alt="" class="circle"> <span class="title">User</span>
							<p></p>
							</li>
					</ul>
				</div>
				<div class="card-action">
				<a style="color:black"
							href="https://liberalarts.iupui.edu"
							target="_blank">Visit</a>
				</div>
			</div>
			</div>
		<div ng-repeat="item in gitList" class="col s12 m4">
			<div style=" text-transform: uppercase;text-align: left;" ng-class="item.color" class="small card sticky-action">
				<div style=" text-align: left;" ng-class="item.color" class="card-content activator center light">
					<span class="card-title activator grey-text text-darken-4">{{item.name}}</span>
					<div class="chip" ng-show="item.lastDays>0" ><img src="img/watch.png">updated&nbsp;{{item.lastDays}}&nbsp;day(s) ago</div>
					<div class="chip" ng-show="item.lastDays==0" ><img src="img/watch.png">updated&nbsp;today</div>
					<div class="chip"><img src="img/fork.png">forks:&nbsp;{{item.forks_count}}</div>
					<div class="chip"><img src="img/issue.png">issues:&nbsp;{{item.open_issues_count}}</div>
					<div class="chip"><img src="img/star.png">stars:&nbsp;{{item.stargazers_count}}</div>
					<div class="chip"><img src="img/watchers.png">watchers:&nbsp;{{item.watchers_count}}</div>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"><a class="btn indigo"
							href="{{item.homepage}}"
							target="_blank">Live Demo</a><i
						class="material-icons right">close</i></span>
					
					
					<ul class="collection">
						<li style="text-align:left" class="collection-item avatar"><img ng-click="go(item)"  targer="_blank" src="https://avatars0.githubusercontent.com/u/15062867?v=4"
							alt="" class="circle">
							<p><a href="{{item.owner.html_url}}" targer="_blank">{{item.owner.login}}</a></p>
							</li>
							
					</ul>
				</div>
				<div class="card-action">
							<a class="activator" style="cursor:pointer;color:black"
							target="_blank">Live Demo</a>
							<a style="color:black"
							href="{{item.homepage}}"
							target="_blank">GitHub</a>
				</div>
			</div>
		</div>
	</div>
	<div style="display: grid" class="row center">
		<div class="card-content center white lighten-5"></div>
		<a href="https://github.com/udareaniket?tab=repositories"
			target="_blank" class="btn-large waves-effect waves-light btn teal">
			<span>All Repositories</span>
		</a>
	</div>
</div>